.containerNavbar {
  display: flex;
  justify-content: space-between;

  align-items: center;
  background-color: bisque;
  padding: 30px 70px 30px 10px;
}

.logoNav {
    color: purple;
    text-decoration: none;

}

.containerUl {
  display: flex;
  gap: 40px;
}

.itemNav {
color: purple;
  list-style: none;
  font-size: 25px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
}
.itemNav:hover {
  cursor: pointer;
  color: darkgray;
}
